/Logs/
/Lua/
/messaging/
/Sandbox Presets/
/Statistic/
/Workshop/
/console.txt
/coop-console.txt
/latestSave.ini
/logs.zip
/options.ini
/server-console.txt
Saves/*
!Saves/Multiplayer/
!mods/
mods/default.txt
mods/ddesktop.ini
mods/reset-mods-41_51.txt